@using INZFS.Theme.ViewModels
@model INZFS.Theme.ViewModels.EnableAuthenticatorQrCodeViewModel
@{
    ViewLayout = "LayoutRegistration";
    ViewData["Title"] = "Scan this QR code";
}

<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">@ViewData["Title"]</h1>
            <p class="govuk-body-l">Open the Authenticator app and scan this QR code.</p>
            <div class="govuk-grid-row govuk-!-margin-bottom-3">
                <div class="govuk-grid-column-full">
              
                    <div id="qrCode" aria-labelledby="QR Code" code="@Html.Raw(Model.AuthenticatorUri)"></div>
                    <div id="qrCodeData" data-url="@Html.Raw(@Model.AuthenticatorUri)"></div>
            
                </div>
            </div>
            <p class="govuk-body">Or enter the following code manually:</p>
            <p class="govuk-body govuk-!-font-weight-bold">@Model.SharedKey</p>
            <a href="@Url.Action("EnterCode", "TwoFactor", new { Area = "INZFS.Theme", method = AuthenticationMethod.Authenticator, returnUrl = Url.GetQuery("returnUrl")})">
                <button class="govuk-button" data-module="govuk-button">Continue</button>
            </a>
        </div>
    </div>
</main>

<script src="/INZFS.Theme/lib/qrcode.min.js"></script>
<script src="/INZFS.Theme/lib/qrcode-activate.js"></script>
