@page "/eligibilityResult/{slug}"
@inject OrchardCore.IOrchardHelper Orchard
@{
    var eligibility = await Orchard.GetContentItemByHandleAsync($"alias:{Slug}");
    var listenabled = @eligibility.Content.EligibilityResult.Bullet1.Text == null;
    var Secondlistenabled = @eligibility.Content.EligibilityResult.BulletA.Text == null;
    ViewData["Title"] = "Eligibility Result";
    var backLink = "/";
    var titlePart = (string)@eligibility.Content.AliasPart.Alias;
    switch (titlePart)
    {
        case "EligibilityResult3":
            backLink = "/eligibilityChecker/Question1";
            break;
        case "EligibilityResult4":
            backLink = "/eligibilityChecker/Question2";
            break;
        case "EligibilityResult1":
            backLink = "/eligibilityChecker/Question3";
            break;
        case "EligibilityResult5":
            backLink = "/eligibilityChecker/Question4";
            break;
        case "EligibilityResult6":
            backLink = "/eligibilityChecker/Question5";
            break;
        case "EligibilityResult2":
            backLink = "/eligibilityChecker/Question6";
            break;
        case "EligibilityResult7":
            backLink = "/eligibilityChecker/Question6";
            break;
        default: backLink = "/eligibilityChecker/Question1"; break;
    }
}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters">
                <a href="@backLink" class="govuk-back-link" id="govuk-back-link">Back</a>
            </div>
            <div class="govuk-grid-column-one-quarter govuk-signout-right">
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <h1 class="govuk-heading-l">@eligibility.Content.EligibilityResult.Header1.Text</h1>

            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (@eligibility.Content.EligibilityResult.Header2.Text != null)
                {
                    <h2 class="govuk-heading-m">@eligibility.Content.EligibilityResult.Header2.Text</h2>
                }

                <p class="govuk-body">@Html.Raw(eligibility.Content.EligibilityResult.Body1.Text)</p>

                @if (!listenabled)
                {
                    <ul class="govuk-list govuk-list--bullet">
                        <li>@eligibility.Content.EligibilityResult.Bullet1.Text</li>

                        @if (@eligibility.Content.EligibilityResult.Bullet2.Text != null)
                        {
                            <li>@eligibility.Content.EligibilityResult.Bullet2.Text</li>
                        }
                        @if (@eligibility.Content.EligibilityResult.Bullet3.Text != null)
                        {
                            <li>@eligibility.Content.EligibilityResult.Bullet3.Text</li>
                        }
                        @if (@eligibility.Content.EligibilityResult.Bullet4.Text != null)
                        {
                            <li>@eligibility.Content.EligibilityResult.Bullet4.Text</li>
                        }
                    </ul>
                }

                <p class="govuk-body">@eligibility.Content.EligibilityResult.Body2.Text</p>

                @if (@eligibility.Content.EligibilityResult.Body3.Text != null)
                {
                    <p class="govuk-body">@eligibility.Content.EligibilityResult.Body3.Text <a class="govuk-link" href="#">another source</a>.</p>
                }

                @if (!Secondlistenabled)
                {
                    <ul class="govuk-list govuk-list--bullet">
                        <li style="padding-top: 20px;">@eligibility.Content.EligibilityResult.BulletA.Text</li>
                        @if (@eligibility.Content.EligibilityResult.BulletB.Text != null)
                        {
                            <li>@eligibility.Content.EligibilityResult.BulletB.Text</li>
                        }
                    </ul>
                }
                <a href="~/Registration/Register">
                    <button class="govuk-button" data-module="govuk-button">
                        @eligibility.Content.EligibilityResult.Button1.Text
                    </button>
                </a>
                @if (@eligibility.Content.EligibilityResult.Header1.Text == "You are eligible to apply")
                {
                    <p class="govuk-body"><a class="govuk-link" href="/">Return to fund overview</a></p>
                }
            </div>
        </div>

@functions
{
    [FromRoute]
    public string Slug { get; set; }
}
@{
    Layout = "_LayoutWithoutBackBtn";
}