@page "/eligibilityChecker/{slug}"
@inject OrchardCore.IOrchardHelper Orchard
@using INZFS.Web.POCO
@model INZFS.Web.POCO.EligibilityCheckerPOCO
@using Microsoft.AspNetCore.Http

@{
    var eligibility = await Orchard.GetContentItemByHandleAsync($"alias:{Slug}");
    var redirect = (string)@eligibility.Content.EligibilityChecker.Button1.Text;
    var listenabled = @eligibility.Content.EligibilityChecker.Bullet1?.Text == null;
    var AccordionListEnabled = @eligibility.Content.EligibilityChecker.AccordionBullet1?.Text == null;
    var titlePart = (string)@eligibility.Content.AliasPart.Alias;
    var backLink = "/";
    var questionSettingA = "Question1";
    ViewData["Title"] = "Eligibility Checker";
    switch (titlePart)
    {
        case "Question1":
            questionSettingA = "Question1";
            backLink = "/eligibilityInfo/Eligibility-Start";
            break;
        case "Question2":
            questionSettingA = "Question2";
            backLink = "/eligibilityChecker/Question1";
            break;
        case "Question3":
            questionSettingA = "Question3";
            backLink = "/eligibilityChecker/Question2";
            break;
        case "Question4":
            questionSettingA = "Question4";
            backLink = "/eligibilityChecker/Question3";
            break;
        case "Question5":
            questionSettingA = "Question5";
            backLink = "/eligibilityChecker/Question4";
            break;
        case "Question6":
            questionSettingA = "Question6";
            backLink = "/eligibilityChecker/Question5";
            break;
        default: questionSettingA = "Question1"; break;
    }
}

<a href="@backLink" class="govuk-back-link" id="govuk-back-link">Back</a>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">

        <div class="govuk-caption-l">
            @eligibility.Content.EligibilityChecker.Body1.Text
        </div>

        <h2 class="govuk-heading-xl">@eligibility.Content.EligibilityChecker.Header1.Text</h2>

        @if (!listenabled)
        {
            <ul class="govuk-!-margin-bottom-6 govuk-list govuk-list--bullet">
                <li>@eligibility.Content.EligibilityChecker.Bullet1.Text</li>
                <li>@eligibility.Content.EligibilityChecker.Bullet2.Text</li>
                <li>@eligibility.Content.EligibilityChecker.Bullet3.Text</li>
                @if (eligibility.Content.EligibilityChecker.Bullet4.Text != null)
                {
                    <li>@eligibility.Content.EligibilityChecker.Bullet4.Text</li>
                }
            </ul>
        }
        <form method="post">
            <div class="govuk-form-group" @*style="padding-top: 3px;"*@>
                <fieldset class="govuk-fieldset">
                    <div class="govuk-radios govuk-radios--inline">
                        <div class="govuk-radios__item">
                            <input id="checkYes" class="govuk-radios__input" type="radio" value="1" required asp-for=@questionSettingA>
                            <label class="govuk-label govuk-radios__label" for="checkYes">
                                Yes
                            </label>
                        </div>
                        <div class="govuk-radios__item">
                            <input id="checkNo" class="govuk-radios__input" type="radio" value="0" asp-for=@questionSettingA>
                            <label class="govuk-label govuk-radios__label" for="checkNo">
                                No
                            </label>
                        </div>
                    </div>
                </fieldset>
            </div>
            <button id="continueBtn" class="govuk-button govuk-!-margin-top-6">Continue</button>
        </form>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">

            <div class="govuk-accordion__section ">
                <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                        <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button govuk-!-font-size-19" aria-expanded="false">
                            @eligibility.Content.EligibilityChecker.Accordion1.Text
                            <span class="govuk-accordion__icon" aria-hidden="true"></span>
                        </button>
                    </h2>
                </div>
                <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">

                    <p class='govuk-body-s'>@eligibility.Content.EligibilityChecker.AccordionDetails1.Text</p>
                    <p class='govuk-body-s'>@eligibility.Content.EligibilityChecker.AccordionDetails2?.Text</p>
                    <p class='govuk-body-s'>@eligibility.Content.EligibilityChecker.AccordionDetails3?.Text</p>
                    @if (!AccordionListEnabled)
                    {
                        <ul class="govuk-body-s govuk-list govuk-list--bullet">
                            <li>@eligibility.Content.EligibilityChecker.AccordionBullet1.Text</li>

                            @if (@eligibility.Content.EligibilityChecker.AccordionBullet2.Text != null)
                            {
                                <li>@eligibility.Content.EligibilityChecker.AccordionBullet2.Text</li>
                            }
                            @if (@eligibility.Content.EligibilityChecker.AccordionBullet3.Text != null)
                            {
                                <li>@eligibility.Content.EligibilityChecker.AccordionBullet3.Text</li>
                            }
                            @if (@eligibility.Content.EligibilityChecker.AccordionBullet4.Text != null)
                            {
                                <li>@eligibility.Content.EligibilityChecker.AccordionBullet4.Text</li>
                            }
                            @if (@eligibility.Content.EligibilityChecker.AccordionBullet5.Text != null)
                            {
                                <li>@eligibility.Content.EligibilityChecker.AccordionBullet5.Text</li>
                            }

                        </ul>
                    }
                </div>
            </div>
        </div>

        <p class="govuk-body">Need help answering this question? <a class="govuk-link" href="#">Contact us</a>.</p>

    </div>
    <div class="govuk-grid-column-one-quarter govuk-signout-right">
    </div>

</div>

@functions
{
    [FromRoute]
    public string Slug { get; set; }
    [BindProperty]
    public string RedirectUrl { get; set; }

    public async Task<IActionResult> OnPostAsync()
    {

        @inject OrchardCore.IOrchardHelper Orchard
        var eligibility = await Orchard.GetContentItemByHandleAsync($"alias:{Slug}");
        var redirect = (string)@eligibility.Content.EligibilityChecker.Button1.Text;
        var titlePart = (string)@eligibility.Content.AliasPart.Alias;
        var QuestionValue = Request.Form["questionSettingA"].ToString();
        HttpContext.Session.SetString("ReturnUrl", redirect);
        switch (titlePart)
        {
            case "Question1":
                if (QuestionValue == "0")
                {
                    return Redirect("/eligibilityResult/EligibilityResult3");
                }
                break;
            case "Question2":
                if (QuestionValue == "1")
                {
                    return Redirect("/eligibilityResult/EligibilityResult4");
                }
                break;
            case "Question3":
                if (QuestionValue == "0")
                {
                    return Redirect("/eligibilityResult/EligibilityResult1");
                }
                break;
            case "Question4":
                if (QuestionValue == "0")
                {
                    return Redirect("/eligibilityResult/EligibilityResult5");
                }
                break;
            case "Question5":
                if (QuestionValue == "0")
                {
                    return Redirect("/eligibilityResult/EligibilityResult6");
                }
                break;
            case "Question6":
                if (QuestionValue == "0")
                {
                    return Redirect("/eligibilityResult/EligibilityResult2");
                }
                break;
            default: return Redirect("/eligibilityResult/EligibilityResult7");
        }
        return Redirect(redirect);
    }

}
@{
    Layout = "_LayoutWithoutBackBtn";
}