@page
@inject OrchardCore.IOrchardHelper Orchard

@{
    var govpage = await Orchard.GetContentItemByHandleAsync($"alias:{Slug}");
        ViewData["Title"] = "Home";
}

<body class="govuk-template__body competition-overview">
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper " id="main-content" role="main">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    <h1 class="govuk-heading-xl">@govpage.DisplayText</h1>
                </div>
            </div>


            <div class="govuk-grid-row">

                <div class="govuk-grid-column-two-thirds">

                    <p class="govuk-body-l">The Energy Entrepreneurs Fund (EEF) supports innovative carbon-reduction technology through grants of up to £1 million.</p>

                    <p class="govuk-body">The fund is open to UK organisations of any size, in both the public and private sector. It is particularly focused on helping small and medium-sized businesses, including start-ups. </p>
                    <p class="govuk-body">Academic institutions are welcome to apply as part of a consortium, but can not be the sole applicant.</p>
                    <p class="govuk-body">To be eligible for the grant, your proposal needs to address the Government’s 2050 Net Zero carbon targets, or security of UK energy supply.</p>

                    <p class="govuk-body">Your project’s scope must relate to at least one of the following categories:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>@govpage.Content.GovList1.ContentItems[0].DisplayText</li>
                        <li>@govpage.Content.GovList1.ContentItems[1].DisplayText</li>
                        <li>@govpage.Content.GovList1.ContentItems[2].DisplayText</li>
                        <li>@govpage.Content.GovList1.ContentItems[3].DisplayText</li>
                    </ul>

                    <h2 class="govuk-heading-m">@govpage.Content.GovPage.govukheadingm2.Text</h2>

                    <ol class="govuk-list steps-circles">
                        <li><a class="govuk-link govuk-!-font-weight-regular" href="@govpage.Content.GovPage.NavUrl1.Text">@govpage.Content.GovPage.NavHeading1.Text</a></li>
                        <li><a class="govuk-link govuk-!-font-weight-regular" href="@govpage.Content.GovPage.NavUrl2.Text">@govpage.Content.GovPage.NavHeading2.Text</a></li>
                        <li><a class="govuk-link govuk-!-font-weight-regular" href="/page/qanda">Submit questions ahead of the applicant information presentation</a></li>
                    </ol>

                    <h2 class="govuk-heading-m">Start your application</h2>
                    <p class="govuk-body">To start your application, register and create an account.</p>
                    <p class="govuk-body">Registrations close on 25 June at 11.59pm.</p>
                    <p class="govuk-body">We recommend reading the guidance and questions before you decide to register. We also advise checking that you have gathered the necessary information and evidence before you begin.</p>



                    <a href="@Url.Action("Register", "Registration", new {area = "INZFS.Theme"})" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-4 govuk-button--start" data-module="govuk-button">
                        Start now
                        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                            <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
                        </svg>
                    </a>
                    <p class="govuk-body-m"><a class="govuk-link" href="/FundApplication/section/application-overview">Sign in to your account</a>.</p>
                    <h2 class="govuk-heading-m">What happens after you submit your application</h2>

                    <p class="govuk-body">Your application will be assigned to an assessor. It will take around three months to process applications.</p>

                    <p class="govuk-body">Factors BEIS will assess include:</p>

                    <ul class="govuk-list govuk-list--bullet">
                        <li>your project's potential impact on 2050 Net Zero carbon targets or security of UK energy supply</li>
                        <li>how realistic the project is</li>
                        <li>your project's value for money, including cost-reduction potential</li>
                        <li>potential business opportunities which your project could create</li>
                    </ul>

                    <p class="govuk-body">We will tell you if your application has been successful or not after the assessment process is complete.</p>
                    <h2 class="govuk-heading-m">Get help with your application</h2>
                    <p class="govuk-body">You can get help with your application at our <a class="govuk-link" href="/page/help">support page.</a></p>
                    <p class="govuk-body">This includes:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>assistance with your application</li>
                        <li>technical issues</li>
                        <li>digital assistance</li>
                        <li>help accessing our service</li>
                        <li>general enquiries</li>
                    </ul>
                </div>
                <div class="govuk-grid-column-one-third">

                    <aside class="app-related-items" role="complementary">
                        <h3 class="govuk-heading-s" id="subsection-title">Key details</h3>

                        @foreach (var ContentItem in govpage.Content.GovDate.ContentItems)
                        {
                            <p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">@ContentItem.DisplayText</p>
                            <p class="govuk-body-m">@ContentItem.InputPart.DefaultValue</p>
                        }

                        <h3 class="govuk-heading-s" id="subsection-title">Events</h3>
                        <p class="govuk-body"><a class="govuk-link" href="/page/registerToAttend">Register to attend an engagement session</a></p>

                    </aside>

                </div>
            </div>




        </main>
    </div>
    <script src="~/js/govuk-frontend-3.12.0.min.js"></script>
    <script src="~/js/GovFrontendInit.js"></script>

</body>

@functions
{
    public string Slug = "Energy-Entrepreneurs";
}

