@page
@inject OrchardCore.IOrchardHelper Orchard

@{
	var govpage = await Orchard.GetContentItemByHandleAsync($"alias:{Slug}");

}

@Orchard.ConsoleLog(govpage)

<body class="govuk-template__body competition-overview">
	<div class="govuk-width-container">

		<main class="govuk-main-wrapper " id="main-content" role="main">

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					<h1 class="govuk-heading-xl">@govpage.DisplayText</h1>
				</div>
			</div>


			<div class="govuk-grid-row">

				<div class="govuk-grid-column-two-thirds">

					<p class="govuk-body-l">@govpage.Content.GovPage.govukheadingm.Text</p>

					<p class="govuk-body">@govpage.Content.GovPage.GovMainInfo.Text</p>

					<p class="govuk-body">Your project’s scope must relate to at least one of the following categories:</p>

					<ul class="govuk-list govuk-list--bullet">
						<li>@govpage.Content.GovList1.ContentItems[0].DisplayText</li>
						<li>@govpage.Content.GovList1.ContentItems[1].DisplayText</li>
						<li>@govpage.Content.GovList1.ContentItems[2].DisplayText</li>
						<li>@govpage.Content.GovList1.ContentItems[3].DisplayText</li>
					</ul>

					<h2 class="govuk-heading-m">@govpage.Content.GovPage.govukheadingm2.Text</h2>

					<ol class="govuk-list steps-circles">
						<li><a class="govuk-link govuk-!-font-weight-regular" href="@govpage.Content.GovPage.NavUrl1.Text">@govpage.Content.GovPage.NavHeading1.Text</a></li>
						<li><a class="govuk-link govuk-!-font-weight-regular" href="@govpage.Content.GovPage.NavUrl2.Text">@govpage.Content.GovPage.NavHeading2.Text</a></li>
					</ol>

					<h2 class="govuk-heading-m">Start your application</h2>

					<p class="govuk-body">To start your application you must register your details and create an account.</p>

					<p class="govuk-body">We recommend reading the guidance and questions before you decide to register. We also advise checking that you have gathered the necessary information and evidence before you begin.</p>

					<p class="govuk-body">Registrations to apply for this fund close on 25 June at 11.59pm.</p>

					<a href="/FundApplication/section/application-overview" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-4 govuk-button--start" data-module="govuk-button">
						Start now
						<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
							<path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
						</svg>
					</a>

					<p class="govuk-body-s"><a class="govuk-link" href="/login">Sign into your account</a>.</p>

					<h2 class="govuk-heading-m">What happens after you submit your application</h2>

					<p class="govuk-body">Your application will be assigned to an assessor. It will take around three months to process applications.</p>

					<p class="govuk-body">Factors BEIS will assess include:</p>

					<ul class="govuk-list govuk-list--bullet">
						<li>Potential impact on 2050 Net Zero carbon targets or security of UK energy supply</li>
						<li>The proposal's technical and commercial viability</li>
						<li>Value for money your project offers, including its cost-reduction potential</li>
						<li>Potential business opportunities</li>
					</ul>

					<p class="govuk-body">You will be notified if your application has been successful or not after the assessment process is complete.</p>
				</div>
				<div class="govuk-grid-column-one-third">

					<aside class="app-related-items" role="complementary">
						<h3 class="govuk-heading-s" id="subsection-title">Key details</h3>
						<p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">@govpage.Content.GovDate.ContentItems[0].DisplayText</p>
						<p class="govuk-body-m">@govpage.Content.GovDate.ContentItems[0].InputPart.DefaultValue</p>

						<p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">@govpage.Content.GovDate.ContentItems[1].DisplayText</p>
						<p class="govuk-body-m">@govpage.Content.GovDate.ContentItems[1].InputPart.DefaultValue</p>

						<p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">@govpage.Content.GovDate.ContentItems[2].DisplayText</p>
						<p class="govuk-body-m">@govpage.Content.GovDate.ContentItems[2].InputPart.DefaultValue</p>


						<h3 class="govuk-heading-s" id="subsection-title">Events</h3>

						<p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">Engagement days</p>
						<p class="govuk-body-m govuk-!-margin-bottom-0">@govpage.Content.GovDate.ContentItems[2].InputPart.DefaultValue</p>
						<p class="govuk-body-s"><a class="govuk-link" href="/register">Register to attend</a></p>

						<p class="govuk-body-m govuk-!-margin-bottom-0">@govpage.Content.GovDate.ContentItems[2].InputPart.DefaultValue </p>
						<p class="govuk-body-s"><a class="govuk-link" href="/register">Register to attend</a></p>

					</aside>

				</div>
			</div>




		</main>
	</div>
	<script src="~/js/govuk-frontend-3.12.0.min.js"></script>
	<script>
		window.GOVUKFrontend.initAll()
	</script>

</body>

@functions
{
	public string Slug = "Energy-Entrepreneurs";
}

