@model FundManagerApplicationsModel
@using INZFS.MVC.Models



@{
    ViewBag.Title = "Applications";
    //var list = @Model.CompanyDetails.ToList();
}


<form asp-controller="Admin" asp-action="GetApplicationsSearch" method="get">
    <p>
        Search For Company Name  <input type="text" asp-for="CompanyName" />
        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Company Name @*@Html.DisplayNameFor(model => model.CompanyDetails[0].CompanyName)*@
            </th>
            <th>
                Application Id @*@Html.DisplayNameFor(model => model.CompanyDetails[0].CompanyNumber)*@
            </th>

            <th>
                Download Summary
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var application in Model.Applications)
        {
            <tr>
                <td>
                    @application.Key
                </td>
                <td>
                    <a class="govuk-button govuk-!-margin-top-6" href="Contents/ContentItems/@application.Value.ContentItemId/Edit">@application.Value.ContentItemId</a>

                </td>
                <td>
                    @Html.ActionLink(
                   "Download Individual Application",
                   "GeneratePdf",
                   "Report",
                   new {
                       title = application.Key,
                       id = application.Value.ContentItemId
                   },
                   null
                   );
                </td>
            </tr>
        }
    </tbody>

</table>
@Html.ActionLink("Download Placeholder Application", "GeneratePdf", "Report")