@model List<SectionModel>
@using INZFS.MVC.Models.DynamicForm

@foreach (var item in Model) if (!item.HideFromSummary)
{
    <div class="govuk-body-m govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
            <a class="govuk-link govuk-!-font-weight-regular" id="@item.Url" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@item.Url">
                @item.Title <span class="govuk-visually-hidden">@item.Title</span>
            </a>
        </dt>
        <dd class="govuk-summary-list__actions">
            @item.GetStatusString()
        </dd>

    </div>
}