@model SectionContent
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers
@using INZFS.MVC.Models.Application

@Html.Partial("_SectionErrorMessage", Model)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.OverviewTitle</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-tabs" data-module="govuk-tabs">

            <div class="govuk">

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">&nbsp;<span class="summary-list-section summary-list-section--right"> @Model.TotalQuestionsCompleted out of  @Model.TotalQuestions completed</span></p>
                <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

                <dl class="govuk-summary-list">
                    @Html.Partial("_SectionList", Model.Sections, new ViewDataDictionary(ViewData)
                                    {
                                        { "HasErrors", Model.HasErrors }
                                    })

                </dl>
            </div>
        </div>


        <a href="application-overview" class="govuk-button" data-module="govuk-button">
                Back to application overview
        </a>

    </div>

    @Html.Partial("_ApplicationInformation", new ViewDataDictionary(ViewData)
                            {
                                { "ApplicationNumber", Model.ApplicationNumber },
                                { "ShowDownload", "false" }
                            })
</div>
