@model List<SectionModel>
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC

@{
    var hasErrors = ViewData["HasErrors"] != null && (bool)ViewData["HasErrors"];
    
}
@foreach (var item in Model) if (!item.HideFromSummary)
    {
        if (hasErrors && !(item.SectionStatus == FieldStatus.Completed || item.SectionStatus == FieldStatus.NotApplicable))
        {
            <div class="govuk-body-m govuk-summary-list__row govuk-error-message">
                <dt class="govuk-summary-list__key govuk-form-group--error govuk-!-margin-bottom-0" id="application-notcomplete">
                    Review this step and mark as complete
                </dt>
            </div>
        }
        <div class="govuk-body-m govuk-summary-list__row">
            <dt class="govuk-summary-list__key @( hasErrors && !(item.SectionStatus == FieldStatus.Completed || item.SectionStatus == FieldStatus.NotApplicable) ? "govuk-form-group--error" : " " )">
                <a class="govuk-link govuk-!-font-weight-regular" id="@item.Url" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@item.Url">
                    @item.Title <span class="govuk-visually-hidden">@item.Title</span>
                </a>
            </dt>
            <dd class="govuk-summary-list__actions">
                @item.GetStatusString()
            </dd>
        </div>
    }