@model ApplicationOverviewContent
@using INZFS.MVC
@using INZFS.MVC.Models.DynamicForm

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Application overview</h1>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
            Application
            @if (@Model.TotalSectionsCompleted == Model.TotalSections)
            {
                <text>complete</text>
            }
            else
            {
                <text>incomplete</text>
            }

        </p>
        <p class="govuk-body govuk-!-font-weight-regular">You have completed @Model.TotalSectionsCompleted of @Model.TotalSections sections.</p>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

        @{
            var sections = Model.Sections.Take(3);
            var completedCount = sections.Count(section => section.SectionStatus == FieldStatus.Completed);
        }

        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">Your information <span class="summary-list-section summary-list-section--right">@completedCount out of 3 completed</span></p>
        <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

        <dl class="govuk-summary-list">
            @foreach (var item in sections)
            {
                <div class="govuk-body-m govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-!-font-weight-regular" id="@item.SectionTag" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@item.Url">
                            @item.Title <span class="govuk-visually-hidden">@item.Title</span>
                        </a>
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        @item.GetStatusString()
                    </dd>
                </div>
            }
        </dl>

        @{
            sections = Model.Sections.Skip(3).Take(3);
            completedCount = sections.Count(section => section.SectionStatus == FieldStatus.Completed);
        }

        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">Your proposal <span class="summary-list-section summary-list-section--right">@completedCount out of 3 completed</span></p>
        <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">


        <dl class="govuk-summary-list">
            @foreach (var item in sections)
            {
                <div class="govuk-body-m govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-!-font-weight-regular" id="@item.SectionTag" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@item.Url">
                            @item.Title <span class="govuk-visually-hidden">@item.Title</span>
                        </a>
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        @item.GetStatusString()
                    </dd>
                </div>
            }
        </dl>

        @{
            sections = Model.Sections.Skip(6).Take(1);
            completedCount = sections.Count(section => section.SectionStatus == FieldStatus.Completed);
        }
        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">Un-assessed data <span class="summary-list-section summary-list-section--right">@completedCount out of 1 completed</span></p>
        <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">


        <dl class="govuk-summary-list">
            @foreach (var item in sections)
            {
                <div class="govuk-body-m govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        <a class="govuk-link govuk-!-font-weight-regular" id="@item.SectionTag" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@item.Url">
                            @item.Title <span class="govuk-visually-hidden">@item.Title</span>
                        </a>
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        @item.GetStatusString()
                    </dd>
                </div>
            }
        </dl>

        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="submit">
            <button class="govuk-button" data-module="govuk-button">
                Submit application
            </button>
        </a>

    </div>
    <div class="govuk-grid-column-one-third">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">

            <p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">Deadline</p>
            <p class="govuk-body-m govuk-!-margin-bottom-10">25 March at 11.59pm</p>

            <p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">Application</p>
            <p class="govuk-body-m govuk-!-margin-bottom-10">@Model.ApplicationNumber</p>

        </aside>
        <aside class="app-related-items" role="complementary">

            <p class="govuk-body-m govuk-colour--mid-grey">Useful documents</p>
            <p class="govuk-body-m govuk-!-margin-bottom-6"><a class="govuk-link" href="/all-eef-documents">Application guidance, questions and templates</a></p>

        </aside>
        <aside class="app-related-items" role="complementary">
            <p class="govuk-body-m govuk-colour--mid-grey">Review your answers</p>
            <p class="govuk-body-s">Download your answers as a PDF with attached files.</p>
            <a asp-controller="Report" asp-action="Download">
                <button class="govuk-button govuk-button--secondary" type="button">
                    Download your application
                </button>
            </a>
            <a asp-controller="Report" asp-action="GenerateOdt">
                Download an accessible text version
            </a>

        </aside>

    </div>

</div>
