@model ApplicationOverviewContent
@using INZFS.MVC
@using INZFS.MVC.Models.DynamicForm

@if (Model.HasErrors)
{
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                @if (Model.TotalSections != Model.TotalSectionsCompleted)
                {
                    @foreach (var item in Model.Sections.Where(s => s.SectionStatus != FieldStatus.Completed))
                    {
                        <li>
                            <a href="#@item.SectionTag">Some steps in @item.Title are incomplete</a>
                        </li>
                    }
                }
                else
                {
                    <li>
                        <a href="#">Applications are now closed. Please refer to the fund Page for other funds that you may be eligible for.</a>
                    </li>
                }

            </ul>
        </div>
    </div>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Application overview</h1>
        <p class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">
            Application
            @if (@Model.TotalSectionsCompleted == Model.TotalSections)
            {
                <text>complete</text>
            }
            else
            {
                <text>incomplete</text>
            }

        </p>
        <p class="govuk-body govuk-!-font-weight-regular">You have completed @Model.TotalSectionsCompleted of @Model.TotalSections sections.</p>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">

        @{
            var sections = Model.Sections.Take(3);
            var completedCount = sections.Count(section => section.SectionStatus == FieldStatus.Completed);
        }

        <h2 class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">Your information <span class="summary-list-section summary-list-section--right">@completedCount out of 3 completed</span></h2>
        <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

        @Html.Partial("_ApplicationSectionList", sections.ToList(), new ViewDataDictionary(ViewData)
                                {
                                    { "HasErrors", Model.HasErrors }
                                })


        @{
            sections = Model.Sections.Skip(3).Take(3);
            completedCount = sections.Count(section => section.SectionStatus == FieldStatus.Completed);
        }

        <h2 class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">Your proposal <span class="summary-list-section summary-list-section--right">@completedCount out of 3 completed</span></h2>
        <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

        @Html.Partial("_ApplicationSectionList", sections.ToList(), new ViewDataDictionary(ViewData)
                                {
                                    { "HasErrors", Model.HasErrors }
                                })


        @{
            sections = Model.Sections.Skip(6).Take(1);
            completedCount = sections.Count(section => section.SectionStatus == FieldStatus.Completed);
        }

        <h2 class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">Un-assessed data <span class="summary-list-section summary-list-section--right">@completedCount out of 1 completed</span></h2>
        <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

        @Html.Partial("_ApplicationSectionList", sections.ToList(), new ViewDataDictionary(ViewData)
                                {
                                    { "HasErrors", Model.HasErrors }
                                })

        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="submit">
            <button class="govuk-button" data-module="govuk-button">
                Submit application
            </button>
        </a>

    </div>

    @Html.Partial("_ApplicationInformation", new ViewDataDictionary(ViewData)
                                {
                                    { "ApplicationNumber", Model.ApplicationNumber },
                                    { "ShowDownload", "true" }
                                })


</div>
