@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using System.Globalization 
@model ApplicationSummaryModel

<div class="govuk-width-container">
    <div>
        <a class="govuk-back-link" href="/">
            Back
        </a>
        <a class="govuk-back-link" href="/INZFS.Theme/Account/LogOff" style="float:right">
            SignOut
        </a>
    </div>
    
    <main class="govuk-main-wrapper" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        Business proposal
                    </h2>
                    <ul class="govuk-tabs__list">
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab"
                               href="#writeApplication">Write Application</a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab"
                               href="#readApplication">Review Application</a>
                        </li>
                        <li class="govuk-tabs__list-item">
                            <a class="govuk-tabs__tab"
                               href="#upload">Supporting Evidence</a>
                        </li>
                    </ul>

                    <section class="govuk-tabs__panel" id="writeApplication">
                        <div class="govuk-grid-row govuk-!-margin-bottom-6">

                            <div class="govuk-grid-row">
                                <div class="govuk-grid-column-two-thirds">
                                    <h1 class="govuk-heading-xl">
                                        Business Proposal
                                    </h1>

                                    <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
                                    <p class="govuk-body govuk-!-margin-bottom-7">You have completed @Model.TotalCompletedSections of @Model.TotalSections sections.</p>

                                    <ol class="app-task-list">
                                        <li>
                                            <h2 class="app-task-list__section">
                                                <span class="app-task-list__section-number">1. </span> Basic Information
                                            </h2>
                                            <ul class="app-task-list__items">
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="company-details" aria-describedby="project-summary">
                                                            Company Details
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="company-details">@(Model.CompletedSections.HasFlag(Sections.CompanyDetails) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-summary" aria-describedby="project-summary">
                                                            Project Summary
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="project-summary">@(Model.CompletedSections.HasFlag(Sections.ProjectSummary) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-details" aria-describedby="project-details">
                                                            Project Details
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="project-details">@(Model.CompletedSections.HasFlag(Sections.ProjectDetails ) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="org-funding" aria-describedby="org-funding">
                                                            Funding
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="org-funding">@(Model.CompletedSections.HasFlag(Sections.Funding) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <h2 class="app-task-list__section">
                                                <span class="app-task-list__section-number">2. </span> Proposal (Written)
                                            </h2>
                                            <ul class="app-task-list__items">
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="proposal-written-details" aria-describedby="proposal-written-details">
                                                            Project Proposal Details
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="proposal-written-details">@(Model.CompletedSections.HasFlag(Sections.ProjectProposalDetails) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="upload-project-plan" aria-describedby="upload-project-plan">
                                                            Upload Project Plan
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="upload-project-plan">@(Model.CompletedSections.HasFlag(Sections.ProjectPlanUpload) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-experience" aria-describedby="project-experience">
                                                            Project Experience and Skills
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="project-experience">@(Model.CompletedSections.HasFlag(Sections.ProjectExperience) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="experience-and-skills" aria-describedby="experience-and-skills">
                                                            Upload Experience Evidence
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="experience-and-skills">@(Model.CompletedSections.HasFlag(Sections.ProjectExperienceSkillsUpload) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <h2 class="app-task-list__section">
                                                <span class="app-task-list__section-number">3. </span> Proposal (Finance)
                                            </h2>
                                            <ul class="app-task-list__items">
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a href="finance-turnover" aria-describedby="finance-turnover">
                                                            Finance Turnover
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="finance-turnover">@(Model.CompletedSections.HasFlag(Sections.FinanceTurnover) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a href="finance-balance-sheet" aria-describedby="finance-balance-sheet">
                                                            Finance Balance Sheet
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="finance-balance-sheet">@(Model.CompletedSections.HasFlag(Sections.FinanceBalanceSheet) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a href="finance-recover-vat" aria-describedby="finance-recover-vat">
                                                            Finance Recover Vat
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="finance-recover-vat">@(Model.CompletedSections.HasFlag(Sections.FinanceRecoverVat) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        <a href="finance-barriers" aria-describedby="finance-barriers">
                                                            Finance Barriers
                                                        </a>
                                                    </span>
                                                    <strong class="govuk-tag app-task-list__tag" id="finance-barriers">@(Model.CompletedSections.HasFlag(Sections.FinanceBarriers) ? "COMPLETED" : "NOT STARTED")</strong>
                                                </li>
                                            </ul>
                                        </li>

                                        <li>
                                            <h2 class="app-task-list__section">
                                                <span class="app-task-list__section-number">4. </span> Application Review
                                            </h2>
                                            <ul class="app-task-list__items">
                                                <li class="app-task-list__item">
                                                    <span class="app-task-list__task-name">
                                                        Submit and pay
                                                    </span>
                                                    <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
                                                </li>
                                            </ul>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>

                    </section>
                    <section class="govuk-tabs__panel" id="readApplication">
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-two-thirds">
                                <h1 class="govuk-heading-xl">
                                    Coming soon!
                                </h1>
                                </div>
                            </div>
                    </section>
                    <section class="govuk-tabs__panel" id="upload">
                        <ol class="app-task-list">
                            <li>
                                <h2 class="app-task-list__section">
                                    <span class="app-task-list__section-number"></span> Mandatory documents
                                </h2>
                                <ul class="app-task-list__items">
                                   
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="upload-project-plan" aria-describedby="upload-project-plan">
                                                Upload Project Plan
                                            </a>
                                        </span>
                                        <strong class="govuk-tag app-task-list__tag" id="upload-project-plan">@(Model.CompletedSections.HasFlag(Sections.ProjectPlanUpload) ? "COMPLETED" : "NOT STARTED")</strong>
                                    </li>
                                   
                                    <li class="app-task-list__item">
                                        <span class="app-task-list__task-name">
                                            <a asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="experience-and-skills" aria-describedby="experience-and-skills">
                                                Upload Experience Evidence
                                            </a>
                                        </span>
                                        <strong class="govuk-tag app-task-list__tag" id="experience-and-skills">@(Model.CompletedSections.HasFlag(Sections.ProjectExperienceSkillsUpload) ? "COMPLETED" : "NOT STARTED")</strong>
                                    </li>
                                </ul>
                            </li>
                            </ol>
                    </section>
                </div>
            </div>
            <div class="govuk-grid-column-one-third">

                <p class="govuk-body">Deadline</p>
                <p class="govuk-body">25 March at 11.59pm</p>

                <a href="#upload">Downloads</a>

            </div>
        </div>
    </main>

</div>
