@model SectionContent
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers
@using INZFS.MVC


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            5. Business proposal, project plans and risk
        </h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                5. Business Proposal
            </h2>

            <div class="govuk">

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">&nbsp;<span class="summary-list-section summary-list-section--right"> @Model.TotalQuestionsCompleted out of  @Model.TotalQuestions completed</span></p>
                <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-1">
                    Business proposal (10% of score)
                </p>

                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                @Html.Partial("_SectionList", Model.Sections.Take(2).ToList())



                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-1">
                    Business plan (10% of score)
                </p>

                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                @Html.Partial("_SectionList", Model.Sections.Skip(2).Take(1).ToList())

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-1">
                    Technology readiness level (7.5% of score)
                </p>

                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                @Html.Partial("_SectionList", Model.Sections.Skip(3).Take(2).ToList())

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-1">
                    Cost and performance (7.5% of score)
                </p>

                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                @Html.Partial("_SectionList", Model.Sections.Skip(5).Take(6).ToList())

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-1">
                    Impact on climate change (20% of score)
                </p>

                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                @Html.Partial("_SectionList", Model.Sections.Skip(11).Take(2).ToList())


                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-1">
                    Project plan (7.5% of score)
                </p>

                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                @Html.Partial("_SectionList", Model.Sections.Skip(13).Take(2).ToList())


                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-1">
                    Evaluation (7.5% of score)
                </p>

                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                @Html.Partial("_SectionList", Model.Sections.Skip(15).Take(2).ToList())

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-1">
                    Experience (10% of score)
                </p>

                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                @Html.Partial("_SectionList", Model.Sections.Skip(17).Take(3).ToList())

                
            </div>
        </div>


        <a href="application-overview">
            <button class="govuk-button" data-module="govuk-button">
                Back to application overview
            </button>
        </a>

    </div>

    <div class="govuk-grid-column-one-third govuk-!-padding-top-4">

        <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

        <aside class="app-related-items" role="complementary">

            <p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">Deadline</p>
            <p class="govuk-body-m govuk-!-margin-bottom-10">25 March at 11.59pm</p>

            <p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">Application</p>
            <p class="govuk-body-m govuk-!-margin-bottom-10">@Model.ApplicationNumber</p>

        </aside>

        <aside class="app-related-items" role="complementary">

            <p class="govuk-body-m govuk-colour--mid-grey">Downloads</p>
            <p class="govuk-body-m govuk-!-margin-bottom-6"><a class="govuk-link" href="downloadDocs.html">Download the guidance, application questions and templates</a></p>

            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Download your application
            </button>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        How does this work?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                </div>
            </details>

        </aside>

    </div>
</div>
