
@model FileUploadModel
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers
@using INZFS.MVC

@if (!string.IsNullOrEmpty(Model.PreviousPageName))
{
    <a class="govuk-back-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@Model.PreviousPageName">
        Back to previous question
    </a>
}

@if (Model.DisplayQuestionCounter)
{
    <span class="govuk-caption-l">Question @Model.QuestionNumber of @Model.TotalQuestions</span>
}

<div class="@(string.IsNullOrEmpty(Model.FileToDownload) == true ? "" : "govuk-grid-column-two-thirds")">
    <form asp-action="save" asp-route-pagename="@Model.PageName" method="post" enctype="multipart/form-data">

        <input type="hidden" name="PageName" value="@Model.PageName" />
        <input type="hidden" name="Kind" value="@nameof(FileUploadModel)" />

        @if (!ViewData.ModelState.IsValid)
        {
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        @foreach (var key in ViewData.ModelState.Keys)
                        {
                            var value = ViewData.ModelState[key];
                            foreach (var error in value.Errors)
                            {
                                <li>
                                    <a href="#with-hint">@error.ErrorMessage</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        }

    <div class="govuk-form-group">

        <label class="govuk-label govuk-label--l">
            @if (string.IsNullOrEmpty(Model.TitleQuestion))
            {
                @Model.Question

            }
            else
            {
                @Model.TitleQuestion
            }
        </label>
        @Html.Partial("_Hint", Model.Hint)
        @Html.Partial("_QuestionDescription", Model.PageName)



        @if (string.IsNullOrEmpty(@Model.UploadText))
        {
            <label class="govuk-label govuk-!-font-weight-bold" for="file">
                Upload Some file
            </label>
        }
        else
        {
            <label class="govuk-label govuk-!-font-weight-bold" for="file">
                @Model.UploadText
            </label>
        }

        <input class="govuk-file-upload" id="file" name="file" type="file"
               accept=".txt,.pdf,.xlsx,.doc,.docx">
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name="submit.Publish"
                value="UploadFile">
            Upload file
        </button>
    </div>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What file can i upload?
                </span>
            </summary>
            <div class="govuk-details__text">
                Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
            </div>
        </details>

        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0">Uploaded file</h2>
        @*
        <p class="govuk-body nofileupload govuk-!-margin-bottom-6">@(!string.IsNullOrEmpty(Model.DataInput) ? Model.DataInput : "No file uploaded")</p>
        *@

        @if (Model.UploadedFile != null)
        {
            <dl class="govuk-summary-list fileTable">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-!-font-weight-regular">
                        @Model.UploadedFile.Name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.UploadedFile.Size MB
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        @*<a class="govuk-link" href="#">
                            Remove<span class="govuk-visually-hidden"> file uploaded</span>
                        </a>*@
                        <button type="submit" name="submit.Publish" class="govuk-button govuk-button--warning"
                                value="DeleteFile" data-module="govuk-button">
                            Remove
                        </button>
                    </dd>
                </div>
            </dl>
        }
        else
        {
            <p class="govuk-body nofileupload govuk-!-margin-bottom-6">No file uploaded</p>
        }

        @if (Model.PageName == "project-cost-breakdown" && Model.UploadedFile != null && Model.UploadedFile.ParsedExcelData != null)
        {
            <table class="govuk-table">
                <caption class=" govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-0 govuk-!-font-size-16">Summary</caption>
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row govuk-body-s">
                        <th scope="col" class="govuk-table__header app-custom-class">Project funding source</th>
                        <th scope="col" class="govuk-table__header app-custom-class">Value</th>
                        <th scope="col" class="govuk-table__header app-custom-class">Percentage of total value</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body govuk-body-s">

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Total BEIS grant applied for
                        </td>
                        <td class="govuk-table__cell">
                            @(Model.UploadedFile.ParsedExcelData.ParsedTotalGrantFunding != null ? @Model.UploadedFile.ParsedExcelData.ParsedTotalGrantFunding : "-")
                        </td>
                        <td class="govuk-table__cell">
                            @(Model.UploadedFile.ParsedExcelData.ParsedTotalGrantFundingPercentage != null ? @Model.UploadedFile.ParsedExcelData.ParsedTotalGrantFundingPercentage : "-")
                        </td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Total match funding contribution
                        </td>
                        <td class="govuk-table__cell">
                            @(Model.UploadedFile.ParsedExcelData.ParsedTotalMatchFunding != null ? @Model.UploadedFile.ParsedExcelData.ParsedTotalMatchFunding : "-")
                        </td>
                        <td class="govuk-table__cell">
                            @(Model.UploadedFile.ParsedExcelData.ParsedTotalMatchFundingPercentage != null ? @Model.UploadedFile.ParsedExcelData.ParsedTotalMatchFundingPercentage : "-")
                        </td>
                    </tr>

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            Total project cost
                        </td>
                        <td class="govuk-table__cell">
                            @(Model.UploadedFile.ParsedExcelData.ParsedTotalProjectCost != null ? @Model.UploadedFile.ParsedExcelData.ParsedTotalProjectCost : "-")
                        </td>
                        <td class="govuk-table__cell">
                            -
                        </td>
                    </tr>

                </tbody>
            </table>
        }

        @Html.Partial("_Accordion", Model.PageName)

        @if (Model.ShowMarkAsComplete)
        {
            @Html.Partial("_MarkAsComplete", Model)
        }


        <div class="edit-item-secondary group">
            <div class="edit-item-actions form-group">
                <button type="submit" name="submit.Publish" class="btn btn-success publish govuk-button" value="submit.Publish">@Model.ContinueButtonText</button>
            </div>
        </div>

    </form>

    <a href="@Model.SectionUrl">@Model.ReturnToSummaryPageLinkText</a>


        @if (!string.IsNullOrEmpty(Model.FileToDownload))
        {
            <div class="govuk-grid-column-one-third">
                <aside class="app-related-items" role="complementary">
                    <p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-3">Downloads</p>
                    <p class="govuk-body-m govuk-!-margin-bottom-3"><a class="govuk-link" href="#">Download consortium details form</a></p>
                </aside>
            </div>
        }

