
@model FileUploadModel
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers
@using INZFS.MVC
@using System.Globalization

@{
    string extensions = string.Join(",", Model.AcceptableFileExtensions.Split(',').Select(x => "." + x.Trim()));
}

@Html.Partial("_Steps")

<div class="@(string.IsNullOrEmpty(Model.FileToDownload) == true ? "" : "govuk-grid-column-two-thirds")">
    <form asp-action="save" asp-route-pagename="@Model.PageName" method="post" enctype="multipart/form-data">

        <input type="hidden" name="PageName" value="@Model.PageName" />
        <input type="hidden" name="Kind" value="@nameof(FileUploadModel)" />

        @Html.Partial("_ErrorMessage")

        <div class="govuk-form-group">

            <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="file">
                    @Model.Question
                </label>
            </h1>
            @Html.Partial("_Hint", Model.Hint)
            @Html.Partial("_QuestionDescription", Model.PageName)

        </div>

        <div class="govuk-form-group">
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        What file can I upload?
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">You can only upload the following file types:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>@Model.AcceptableFileExtensions.ToUpper()</li>
                    </ul>
                </div>
            </details>

        </div>

        <div id="changed-name-hint" class="govuk-hint">
            Uploaded file must be a maximum of 20 mb
        </div>

        <div class="govuk-grid-row govuk-!-margin-bottom-3">

            @if (!ViewData.ModelState.IsValid)
            {
                var value = ViewData.ModelState["DataInput"];
                if (value.Errors.Any())
                {
                    <span id="file-upload" class="govuk-form-group--error govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @value.Errors.First().ErrorMessage
                    </span>
                }
            }

            <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
                <div class="file-upload--border">
                    <input class="govuk-file-upload govuk-!-font-size-16" id="file" name="file" type="file"
                           accept="@extensions">
                </div>
            </div>

            <div class="govuk-grid-column-one-quarter">
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name="submit.Publish" value="UploadFile">
                    Upload
                </button>
            </div>

            @if (Model.UploadedFile != null)
            {
                <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
                    <div class="file-upload--border">
                        <dl class="govuk-summary-list">
                            <div class="govuk-summary-list__row govuk-!-font-size-16">
                                <dd class="govuk-summary-list__value">
                                    @Model.UploadedFile.Name <span class="govuk-!-margin-left-6">@Model.UploadedFile.Size MB</span>
                                </dd>
                                <dd class="govuk-summary-list__actions">
                                    <button type="submit" name="submit.Publish" class="govuk-link govuk-!-font-size-16"
                                            value="DeleteFile" data-module="govuk-button" style=" background: transparent; border: none; color: #1d70b8;">
                                        Remove
                                    </button>
                                </dd>
                            </div>
                        </dl>
                    </div>
                </div>
            }
            else
            {
                <div class="govuk-grid-column-full govuk-!-margin-bottom-6">
                    <div class="file-upload--border">
                        <h2 class="govuk-body govuk-!-font-weight-bold govuk-!-margin-bottom-0 govuk-!-font-size-16">Uploaded file</h2>
                        <p class="govuk-body nofileupload govuk-!-font-size-16">No file uploaded</p>
                    </div>
                </div>
            }


        </div>

            @if (Model.PageName == "project-cost-breakdown")
            {
                <table class="govuk-table">
                    <caption class=" govuk-table__caption govuk-table__caption--m govuk-!-margin-bottom-0 govuk-!-font-size-16">Summary</caption>
                    <thead class="govuk-table__head">
                        <tr class="govuk-table__row govuk-body-s">
                            <th scope="col" class="govuk-table__header app-custom-class">Project funding source</th>
                            <th scope="col" class="govuk-table__header app-custom-class">Value</th>
                            <th scope="col" class="govuk-table__header app-custom-class">Percentage of total value</th>
                        </tr>
                    </thead>
                    <tbody class="govuk-table__body govuk-body-s">

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                Total BEIS grant applied for
                            </td>
                            <td class="govuk-table__cell">
                                @(Model.UploadedFile?.ParsedExcelData?.ParsedTotalGrantFunding != null ? @Model.UploadedFile.ParsedExcelData.ParsedTotalGrantFunding?.ToString("C", new CultureInfo("en-GB")) : "-")
                            </td>
                            <td class="govuk-table__cell">
                                @(Model.UploadedFile?.ParsedExcelData?.ParsedTotalGrantFunding != null ? (((100/Model.UploadedFile.ParsedExcelData.ParsedTotalProjectCost * Model.UploadedFile.ParsedExcelData.ParsedTotalGrantFunding)/100)?.ToString("P", CultureInfo.InvariantCulture)) : "-")
                            </td>
                        </tr>

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                Total match funding contribution
                            </td>
                            <td class="govuk-table__cell">
                                @(Model.UploadedFile?.ParsedExcelData?.ParsedTotalMatchFunding != null ? @Model.UploadedFile.ParsedExcelData.ParsedTotalMatchFunding?.ToString("C", new CultureInfo("en-GB")) : "-")
                            </td>
                            <td class="govuk-table__cell">
                                @(Model.UploadedFile?.ParsedExcelData?.ParsedTotalMatchFunding != null ? (((100/Model.UploadedFile.ParsedExcelData.ParsedTotalProjectCost * Model.UploadedFile.ParsedExcelData.ParsedTotalMatchFunding)/100)?.ToString("P", CultureInfo.InvariantCulture)) : "-")
                            </td>
                        </tr>

                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">
                                Total project cost
                            </td>
                            <td class="govuk-table__cell">
                                @(Model.UploadedFile?.ParsedExcelData?.ParsedTotalProjectCost != null ? @Model.UploadedFile.ParsedExcelData.ParsedTotalProjectCost?.ToString("C", new CultureInfo("en-GB")) : "-")
                            </td>
                            <td class="govuk-table__cell">
                            </td>
                        </tr>

                    </tbody>
                </table>
            }

            @Html.Partial("_Accordion", Model.PageName)

            @if (Model.ShowMarkAsComplete)
            {
                @Html.Partial("_MarkAsComplete", Model)
            }


            <div class="edit-item-secondary group">
                <div class="edit-item-actions form-group">
                    <button type="submit" name="submit.Publish" class="btn btn-success publish govuk-button" value="submit.Publish">@Model.ContinueButtonText</button>
                </div>
            </div>

            </form>

            </div>

            @Html.Partial("_BackButton", Model)