@model SectionContent
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers
@using INZFS.MVC

@Html.Partial("_SectionErrorMessage", Model)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.OverviewTitle</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                6. Finance Proposal
            </h2>

            <div class="govuk">

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">&nbsp;<span class="summary-list-section summary-list-section--right"> @Model.TotalQuestionsCompleted out of  @Model.TotalQuestions completed</span></p>
                <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

                <dl class="govuk-summary-list">
                    @Html.Partial("_SectionList", Model.Sections.Take(1).ToList(), new ViewDataDictionary(ViewData)
                                    {
                                        { "HasErrors", Model.HasErrors }
                                    })
                </dl>

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-1">Project costs (7.5% of score)</p>
                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                <dl class="govuk-summary-list">
                    @Html.Partial("_SectionList", Model.Sections.Skip(1).Take(2).ToList(), new ViewDataDictionary(ViewData)
                                    {
                                        { "HasErrors", Model.HasErrors }
                                    })
                </dl>

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-top-6 govuk-!-margin-bottom-1">Additional contributions (7.5% of score)</p>
                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                <dl class="govuk-summary-list">
                    @Html.Partial("_SectionList", Model.Sections.Skip(3).Take(1).ToList(), new ViewDataDictionary(ViewData)
                                    {
                                        { "HasErrors", Model.HasErrors }
                                    })
                </dl>

            </div>
        </div>


        <a href="application-overview">
            <button class="govuk-button" data-module="govuk-button">
                Back to application overview
            </button>
        </a>

    </div>


    @Html.Partial("_ApplicationInformation", new ViewDataDictionary(ViewData)
                        {
                            { "ApplicationNumber", Model.ApplicationNumber },
                            { "ShowDownload", "false" }
                        })
</div>
