@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using System.Globalization 
@model ProposalWrittenSummaryViewModel

<div class="govuk-width-container">
    
    <a class="govuk-back-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="experience-and-skills">
        Back
    </a>
    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

                <h2 class="govuk-heading-m">Project Proposal</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Summary on innovation impact carbon targets
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ProjectProposalDetailsViewModel.InnovationImpactSummary
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="proposal-written-details">
                                Change
                                <span class="govuk-visually-hidden"> summary</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Estimated project end date
                        </dt>
                        <dd class="govuk-summary-list__value">

                            @Model.ProjectProposalDetailsViewModel.Day.Value @DateTimeFormatInfo.CurrentInfo.GetMonthName(Model.ProjectProposalDetailsViewModel.Month.Value) @Model.ProjectProposalDetailsViewModel.Year
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="proposal-written-details">
                                Change
                                <span class="govuk-visually-hidden"> estimated project end date</span>
                            </a>
                        </dd>
                    </div>

                </dl>

                <h2 class="govuk-heading-m">Project Plan</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Project plan document
                        </dt>
                        <dd class="govuk-summary-list__value">
                            &nbsp;
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="upload-project-plan">
                                Change
                                <span class="govuk-visually-hidden"> project plan</span>
                            </a>
                        </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m">Project Experience</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Project experience summary
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ProjectExperienceViewModel.ExperienceSummary
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-experience">
                                Change<span class="govuk-visually-hidden"> previous application number</span>
                            </a>
                        </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m">Experience and Skills</h2>
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Experience and Skills document
                        </dt>
                        <dd class="govuk-summary-list__value">
                            &nbsp;
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="experience-and-skills">
                                Change
                                <span class="govuk-visually-hidden"> experience and skills</span>
                            </a>
                        </dd>
                    </div>
                </dl>

                <h2 class="govuk-heading-m">Now send your application</h2>

                <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

                <form action="/form-handler" method="post" novalidate="">

                    <input type="hidden" name="answers-checked" value="true">

                    <button class="govuk-button" data-module="govuk-button">
                        Accept and send
                    </button>

                </form>

            </div>
        </div>
    </main>
</div>
