@model RadioSingleSelectModel
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers

@if (!string.IsNullOrEmpty(Model.PreviousPageName))
{
    <a class="govuk-back-link" id="BackButton" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@Model.PreviousPageName">
        Back to previous question
    </a>
}
else
{
    <a class="govuk-back-link" id="BackButton" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@Model.SectionInfo.Url">
        @Model.SectionInfo.Title
    </a>
}

<span class="govuk-caption-l">Question @Model.QuestionNumber of @Model.TotalQuestions</span>

<form asp-action="save" asp-route-pagename="@Model.PageName" method="post" enctype="multipart/form-data">

    <input type="hidden" name="PageName" value="@Model.PageName" />
    <input type="hidden" name="Kind" value="@nameof(RadioSingleSelectModel)" />

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (var key in ViewData.ModelState.Keys)
                    {
                        var value = ViewData.ModelState[key];
                        foreach (var error in value.Errors)
                        {
                            <li>
                                <a href="#@Model.FieldName">@error.ErrorMessage</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }

    @*<div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")" asp-validation-error-class-for="@Model.Question">
            <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
                    <h1 class="govuk-fieldset__heading">
                        @if (string.IsNullOrEmpty(Model.TitleQuestion))
                        {
                            @Model.Question

                        }
                        else
                        {
                            @Model.TitleQuestion
                        }
                    </h1>
                </legend>

                <div class="govuk-radios govuk-radios--inline" asp-validation-error-class-for="@Model.Question">

                    @foreach (var item in Model.SelectedOptions)
                    {
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="radio-yes" name="DataInput" type="radio" value=@item.ToString()>
                            <label class="govuk-label govuk-radios__label" for="organisation">
                                @item
                            </label>
                        </div>
                    }

                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="organisation-6" name="org-type" type="radio" value="other" data-aria-controls="other-org">
                        <label class="govuk-label govuk-radios__label" for="organisation-6">
                            Other
                        </label>
                    </div>
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-org">
                        <div class="govuk-form-group">
                            <label class="govuk-label" for="organisation-7">
                                Organisation type
                            </label>
                            <input class="govuk-input govuk-!-width-one-third" id="organisation-7" name="org-type" type="other" spellcheck="false" autocomplete="other">
                        </div>
                    </div>


                </div>

            </fieldset>
        </div>*@
    <div class="govuk-form-group @(ViewData.ModelState.IsValid ? "" : "govuk-form-group--error")" asp-validation-error-class-for="@Model.Question">
        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l govuk-!-margin-bottom-6">
                <h1 class="govuk-fieldset__heading">
                    @if (string.IsNullOrEmpty(Model.TitleQuestion))
                    {
                        @Model.Question

                    }
                    else
                    {
                        @Model.TitleQuestion
                    }
                </h1>                
            </legend>
            <div class="govuk-radios govuk-radios--conditional" data-module="govuk-radios">
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="organisation" name="org-type" type="radio" value="organisation">
                    <label class="govuk-label govuk-radios__label" for="organisation">
                        Not for profit
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="organisation-1" name="org-type" type="radio" value="organisation-1">
                    <label class="govuk-label govuk-radios__label" for="organisation-1">
                        Private company
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="organisation-2" name="org-type" type="radio" value="organisation-2">
                    <label class="govuk-label govuk-radios__label" for="organisation-2">
                        Public limited company
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="organisation-3" name="org-type" type="radio" value="organisation-3">
                    <label class="govuk-label govuk-radios__label" for="organisation-3">
                        Public sector organisation
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="organisation-4" name="org-type" type="radio" value="organisation-4">
                    <label class="govuk-label govuk-radios__label" for="organisation-4">
                        Research organisation
                    </label>
                </div>
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="organisation-5" name="org-type" type="radio" value="organisation-5">
                    <label class="govuk-label govuk-radios__label" for="organisation-5">
                        University
                    </label>
                </div>

                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="organisation-6" name="org-type" type="radio" value="other" data-aria-controls="other-org">
                    <label class="govuk-label govuk-radios__label" for="organisation-6">
                        Other
                    </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="other-org">
                    <div class="govuk-form-group">
                        <label class="govuk-label" for="organisation-7">
                            Organisation type
                        </label>
                        <input class="govuk-input govuk-!-width-one-third" id="organisation-7" name="org-type" type="other" spellcheck="false" autocomplete="other">
                    </div>
                </div>


            </div>

        </fieldset>
    </div>

    @Html.Partial("_Accordion", "")
    @if (Model.ShowMarkAsComplete)
    {
        @Html.Partial("_MarkAsComplete", Model)
    }

    <div class="edit-item-secondary group">
        <div class="edit-item-actions form-group">
            <button type="submit" id="SaveAndContinue" name="submit.Publish" class="btn btn-success publish govuk-button" value="submit.Publish">@Model.ContinueButtonText</button>
        </div>
    </div>
</form>