@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using System.Globalization 
@model SummaryViewModel

<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper " id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop">

                <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

                <h2 class="govuk-heading-m">Project Summary</h2>


                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Project name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ProjectSummaryViewModel.ProjectName
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-summary">Change
                            <span class="govuk-visually-hidden"> name</span></a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Estimated Start date
                        </dt>
                        <dd class="govuk-summary-list__value">

                            @Model.ProjectSummaryViewModel.Day.Value @DateTimeFormatInfo.CurrentInfo.GetMonthName(Model.ProjectSummaryViewModel.Month.Value) @Model.ProjectSummaryViewModel.Year
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-summary">
                                Change
                                <span class="govuk-visually-hidden"> estimated start date</span>
                            </a>
                        </dd>
                    </div>
                    
                </dl>



                <h2 class="govuk-heading-m">Project Summary</h2>


                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Will the BEIS project cost end by 2024
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @if(Model.ProjectDetailsViewModel.Timing.HasValue && Model.ProjectDetailsViewModel.Timing.Value == 1)
                            {
                                <p>Yes</p>
                            }
                            else
                            {
                                <p>No</p>
                            }
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-details">
                                Change<span class="govuk-visually-hidden"> previous application number</span>
                            </a>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Summary
                        </dt>
                        <dd class="govuk-summary-list__value">
                            @Model.ProjectDetailsViewModel.Summary
                        </dd>
                        <dd class="govuk-summary-list__actions">
                            <a class="govuk-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="project-details">
                                Change<span class="govuk-visually-hidden"> licence type</span>
                            </a>
                        </dd>
                    </div>
                   
                </dl>


                <h2 class="govuk-heading-m">Now send your application</h2>

                <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

                <form action="/form-handler" method="post" novalidate="">

                    <input type="hidden" name="answers-checked" value="true">

                    <button class="govuk-button" data-module="govuk-button">
                        Accept and send
                    </button>

                </form>

            </div>
        </div>
    </main>
</div>
