
@model TextAreaModel
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers

<a class="govuk-back-link" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="proposal-written-details">
    Back
</a>

<form asp-action="CreateNew" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" method="post" enctype="multipart/form-data">

    <input type="hidden" name="contentType" value="@Model.PageName" />
    <input type="hidden" name="Kind" value="@nameof(TextAreaModel)" />

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (var key in ViewData.ModelState.Keys)
                    {
                        var value = ViewData.ModelState[key];
                        foreach (var error in value.Errors)
                        {
                            <li>
                                <a href="#@key.Replace(".", "_")">@error.ErrorMessage</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    }


    <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
        <div class="govuk-form-group" asp-validation-error-class-for="@Model.Question">
            <label class="govuk-label govuk-label--l">
                @Model.Question
            </label>
            <span asp-validation-for="@Model.DataInput" class="govuk-error-message"></span>
            <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" rows="5" aria-describedby="summary-hint">@Model.Question</textarea>

            <div id="with-hint-info" class="govuk-hint govuk-character-count__message" aria-live="polite">
                You can enter up to 200 characters
            </div>
        </div>
    </div>



    <div class="edit-item-secondary group">
        <div class="edit-item-actions form-group">
            <button type="submit" name="submit.Publish" class="btn btn-success publish govuk-button" value="submit.Publish">Continue</button>
        </div>
    </div>
</form>

@Html.Partial("_Help")