@model SectionContent
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers
@using INZFS.MVC

@Html.Partial("_SectionErrorMessage", Model)

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">@Model.OverviewTitle</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
                6. Finance Proposal
            </h2>

            <div class="govuk">

                @{
                    var sections = Model.Sections.Take(11);
                    var completedCount = sections.Count(section => section.SectionStatus == FieldStatus.Completed);
                }

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">&nbsp;<span class="summary-list-section summary-list-section--right"> @completedCount out of  11 completed</span></p>
                <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

                <dl class="govuk-summary-list">
                    @Html.Partial("_SectionList", sections.ToList(), new ViewDataDictionary(ViewData)
                                    {
                                        { "HasErrors", Model.HasErrors }
                                    })
                </dl>


                @{
                    var sections2 = Model.Sections.Skip(11).Take(10);
                    var completedCount2 = sections2.Count(section => section.SectionStatus == FieldStatus.Completed);
                }

                <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">Parent organisation details<span class="summary-list-section summary-list-section--right">  @completedCount out of  11 completed/span></p>
                <hr class="govuk-section-break govuk-!-padding-bottom-1 govuk-section-break--visible">

                <dl class="govuk-summary-list">
                    @Html.Partial("_SectionList", sections2.ToList(), new ViewDataDictionary(ViewData)
                                    {
                                        { "HasErrors", Model.HasErrors }
                                    })
                </dl>



            </div>
        </div>


        <a href="application-overview">
            <button class="govuk-button" data-module="govuk-button">
                Back to application overview
            </button>
        </a>

    </div>


    @Html.Partial("_ApplicationInformation", new ViewDataDictionary(ViewData)
                        {
                            { "ApplicationNumber", Model.ApplicationNumber },
                            { "ShowDownload", "false" }
                        })
</div>
