@model SectionContent
@using INZFS.MVC.Models.DynamicForm
@using INZFS.MVC.TagHelpers
@using INZFS.MVC


<div class="govuk-width-container">


    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                    <li class="govuk-breadcrumbs__list-item">
                        <a class="govuk-breadcrumbs__link" href="application-overview" id="application-overview">Application overview</a>
                    </li>
                    <li class="govuk-breadcrumbs__list-item">
                        2. Your organisation
                    </li>
                </ol>
            </div>
        </div>
    </div>

    <main class="govuk-main-wrapper " id="main-content" role="main">

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">
                    Your organisation
                </h1>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

                <div class="govuk-tabs" data-module="govuk-tabs">
                    <h2 class="govuk-tabs__title">
                        2. Your Organisation
                    </h2>

                    <div class="govuk">

                        @{
                            var pages = Model.Sections.Take(2);
                            var completedCount = pages.Count(section => section.SectionStatus == SectionStatus.Completed);
                        }
                        <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">2.1. Your details<span class="summary-list-section summary-list-section--right">@completedCount out of 2 completed</span></p>
                        <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

                        <dl class="govuk-summary-list">

                            @foreach (var item in pages)
                            {
                                <div class="govuk-body-m govuk-summary-list__row">
                                    <dt class="govuk-summary-list__key">
                                        <a class="govuk-link govuk-!-font-weight-regular" id="@item.Url" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@item.Url">
                                            @item.Title <span class="govuk-visually-hidden">@item.Title</span>
                                        </a>
                                    </dt>
                                    <dd class="govuk-summary-list__actions">
                                        @item.GetStatusString()
                                    </dd>
                                </div>

                             }
                        </dl>

                        @{
                            pages = Model.Sections.Skip(2).Take(6);
                            completedCount = pages.Count(section => section.SectionStatus == SectionStatus.Completed);
                         }

                         <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">2.2. Summary of finances<span class="summary-list-section summary-list-section--right">@completedCount out of 6 completed</span></p>
                         <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

                          <dl class="govuk-summary-list">
                                @foreach (var item in pages)
                                {
                                    <div class="govuk-body-m govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            <a class="govuk-link govuk-!-font-weight-regular" id="@item.SectionTag" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@item.Url">
                                                @item.Title <span class="govuk-visually-hidden">@item.Title</span>
                                            </a>
                                        </dt>
                                        <dd class="govuk-summary-list__actions">
                                            @item.GetStatusString()
                                        </dd>
                                    </div>
                                }
                          </dl>

                         @{
                            pages = Model.Sections.Skip(8).Take(9);
                            completedCount = pages.Count(section => section.SectionStatus == SectionStatus.Completed);
                         }

                         <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">2.3. About your organisation<span class="summary-list-section summary-list-section--right">@completedCount out of 6 completed</span></p>
                         <hr class="govuk-section-break govuk-!-padding-bottom-3 govuk-section-break--visible">

                          <dl class="govuk-summary-list">
                                @foreach (var item in pages)
                                {
                                    <div class="govuk-body-m govuk-summary-list__row">
                                        <dt class="govuk-summary-list__key">
                                            <a class="govuk-link govuk-!-font-weight-regular" id="@item.SectionTag" asp-area="INZFS.MVC" asp-controller="FundApplication" asp-action="section" asp-route-pagename="@item.Url">
                                                @item.Title <span class="govuk-visually-hidden">@item.Title</span>
                                            </a>
                                        </dt>
                                        <dd class="govuk-summary-list__actions">
                                            @item.GetStatusString()
                                        </dd>
                                    </div>
                                }
                          </dl>

                 </div>
                </div>
                <a href="application-overview">
                    <button class="govuk-button" data-module="govuk-button">
                        Back to application overview
                    </button>
                </a>

            </div>

             <div class="govuk-grid-column-one-third govuk-!-padding-top-6">


                  <aside class="app-related-items" role="complementary">

                      <p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">Deadline</p>
                      <p class="govuk-body-m govuk-!-margin-bottom-10">25 March at 11.59pm</p>

                      <p class="govuk-body-m govuk-colour--mid-grey govuk-!-margin-bottom-0">Application</p>
                      <p class="govuk-body-m govuk-!-margin-bottom-10">EEF18453SA</p>

                  </aside>

                  <aside class="app-related-items" role="complementary">

                    <p class="govuk-body-m govuk-colour--mid-grey">Downloads</p>
                    <p class="govuk-body-m govuk-!-margin-bottom-3"><a class="govuk-link" href="#">Download the guidance, application questions and templates</a></p>

		           </aside>

            </div>

         </div>
    </main>

</div>