@* As you can see the model here is the view model object this time not a ShapeViewModel<T>. *@

@model ProjectSummaryViewModel
@using INZFS.MVC.ViewModels
@using INZFS.MVC.Models
@using INZFS.MVC.TagHelpers

@* Nothing special here regarding the editor fields. However, notice that the Biography (ContentField) editor is not
    here, because (as mentioned) it has its own editor and display shape so no need to worry about that. *@

@{
    var sampleDate = DateTime.Now.AddDays(30);
    var isVisible = Model.FileUploadPath != null;
    var visibilitySetting = "hidden";
    var toggleVisiblity = "hidden";
    if (isVisible)
    {
        visibilitySetting = "visible";

    }
    else
    {
        visibilitySetting = "hidden";
    }
    var isVisibleError = ViewBag.ErrorMessage != null;
    var visibilitySettingError = "hidden";
    var errorSet = "";
    if (isVisibleError)
    {
        visibilitySettingError = "visible";
        errorSet = "govuk-form-group--error";
        toggleVisiblity = "visible";
    }
    else
    {
        visibilitySettingError = "hidden";
    }
}
<header>
    <div class="govuk-form-group govuk-width-container" id="downloadHide" style="visibility: @visibilitySetting; background: purple; width: 100%; height: 50px;">

        <a class="govuk-link" style="color: white;" download href=@Model.FileUploadPath>Your document has been Uploaded. Please Click here to download</a>
    </div>
</header>
<input type="hidden" name="contentType" value="ProjectSummaryPart" />

<div class="govuk-form-group" asp-validation-error-class-for="ProjectName">
    <label class="govuk-label govuk-label--l" asp-for="ProjectName">
    </label>
    <span asp-validation-for="ProjectName" class="govuk-error-message"></span>
    <input class="govuk-input govuk-input--width-10" asp-for="ProjectName" spellcheck="false" aria-describedby="name-hint">
</div>


<div class="govuk-form-group" asp-validation-error-class-for="StartDateUtc">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="estimated-start-date">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            Estimated Start Date
        </legend>
        <div id="estimated-start-date-hint" class="govuk-hint">
            For example, @sampleDate.Day @sampleDate.Month @sampleDate.Year
        </div>
        <div class="govuk-date-input" id="estimated-start-date">
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="estimated-start-date-day">
                        Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Day" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="estimated-start-date-month">
                        Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" asp-for="Month" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
            </div>
            <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="estimated-start-date-year">
                        Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" asp-for="Year" type="text" pattern="[0-9]*" inputmode="numeric">
                </div>
            </div>
        </div>

    </fieldset>
</div>
<div class="govuk-form-group">
    @ViewBag.Message
    <a class="govuk-link" href="#" id="GovHyperlink" Onclick="toggleVisibility()">Upload a supporting Gant Chart or Project plan</a>
</div>
<div class="govuk-form-group @errorSet" id="hideForm" style="visibility: @toggleVisiblity">
    <label class="govuk-label" asp-for="FileUploadPath">
        Upload a file
    </label>
    <span id="file-upload-1-error" class="govuk-error-message" style="visibility: @visibilitySettingError">
        <span class="govuk-visually-hidden">Error: </span> @ViewBag.ErrorMessage
    </span>
    <input class="govuk-file-upload" type="file" name="file" accept=".txt,.pdf,.xlsx,.doc,.docx" />
</div>
<script>
    function toggleVisibility() {
        var x = document.getElementById('hideForm');
        var p = document.getElementById('file-upload-1-error');
        if (x.style.visibility === 'hidden') {
            x.style.visibility = 'visible';
            p.style.visibility = 'visible';
        } else {
            x.style.visibility = 'hidden';
            p.style.visibility = 'hidden';
        }
    }
    if (isVisibleError) {
        toggleVisibility();
    }
</script>
